// _buttons.scss
%button-base {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

@each $name, $color in $button-colors {
  .btn-#{$name} {
    @extend %button-base;
    background-color: $color;
    color: white;

    &:hover {
      background-color: darken($color, 10%);
    }
  }
}
