// _typography.scss
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;

  @if $theme == dark {
    background-color: #333;
    color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

p {
  font-size: 1rem;
}
